/*主样式*/  
@charset "UTF-8";
/* header部分 */
.l {
  float: left;
}
#header {
  background: #000000;
}
#nav {
  width: auto;
  padding-right: 20px;
  height: 60px;
  margin: 0 auto;
  position: relative;
  z-index: 1000;
}
.logo {
  float: left;
}
#logo {
  margin: 0 20px;
}
#logo a,
.logo a {
  display: block;
  height: 60px;
  width: 140px;
  background: url(../../static/image/logo.png) no-repeat center center;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.logo a {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.logo a:hover {
  background-color: #363c41;
}
.nav-item li {
  float: left;
  width: 80px;
}
.nav-item a {
  position: relative;
  display: block;
  color: #787d82;
  text-align: center;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.nav-item a:hover,
.nav-item .active a,
.nav-item a.active {
  color: #fff;
  background-color: #363c41;
}
/*全局搜索*/
.search-area {
  float: right;
  position: relative;
  height: 30px;
  width: 240px;
  margin: 15px 0;
  margin-right: 20px;
  background: #363c41;
}
.search-area .search-input {
  padding: 5px 10px;
  width: 190px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  float: left;
  border: 0;
  background: #363c41;
  color: #14191e;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.search-area .search-input:-moz-placeholder {
  color: #787d82;
}
.search-area .search-input::-moz-placeholder {
  color: #787d82;
  opacity: 1;
}
.search-area .search-input:-ms-input-placeholder {
  color: #787d82;
}
.search-area .search-input::-webkit-input-placeholder {
  color: #787d82;
}
.search-area .search-input.placeholder {
  color: #787d82;
}
.search-area .btn_search {
  float: right;
  cursor: pointer;
  width: 30px;
  height: 30px;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.search-area .btn_search {
  background: url(/static/img/gsearch-sprite.png) no-repeat 0 0;
}
.search-area.suggest-active .search-input {
  color: #363d40;
  background: #fff;
}
.search-area.suggest-active .btn_search {
  background-position: 0 -40px;
  background-color: #fff;
}
.search-area .search-area-result {
  position: absolute;
  left: 0px;
  top: 31px;
  width: 238px;
  margin-bottom: 20px;
  border: 1px solid #d3d3d3;
  border-top: none;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
  font-size: 12px;
  overflow: hidden;
  display: none;
  z-index: 1000;
}
.search-area .search-area-result li {
  height: 40px;
  line-height: 40px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #787d82;
  cursor: pointer;
}
.search-area .search-area-result li:hover,
.search-area .search-area-result .light {
  color: #14191e;
  background-color: #edf0f2;
}
